/App/CookBook/CookBook/obj/[Dd]ebug/


# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.vcxproj.filters

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
/App/CookBook/CookBook/[Dd]ebug/
/App/CookBook/CookBook/[Dd]ebugPublic/
/App/CookBook/CookBook/[Rr]elease/
/App/CookBook/CookBook/[Rr]eleases/
/App/CookBook/CookBook/x64/
/App/CookBook/CookBook/x86/
/App/CookBook/CookBook/bld/
/App/CookBook/CookBook/[Bb]in/
/App/CookBook/CookBook/[Oo]bj/
/App/CookBook/CookBook/[Ll]og/
/App/CookBook/AdminConsole/[Dd]ebug/
/App/CookBook/AdminConsole/[Dd]ebugPublic/
/App/CookBook/AdminConsole/[Rr]elease/
/App/CookBook/AdminConsole/[Rr]eleases/
/App/CookBook/AdminConsole/x64/
/App/CookBook/AdminConsole/x86/
/App/CookBook/AdminConsole/bld/
/App/CookBook/AdminConsole/[Bb]in/
/App/CookBook/AdminConsole/[Oo]bj/
/App/CookBook/AdminConsole/[Ll]og/

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
App/CookBook/.vs/CookBook/v14/.suo
App/CookBook/.vs/CookBook/v14/.suo